{
  "extends": [
    "stylelint-config-standard",
  ],
  "syntax": "css",
  "rules": {
    "number-leading-zero": "never",
    "comment-empty-line-before": "never",
    "no-descending-specificity": null,
    "declaration-block-trailing-semicolon": null
  },
}
