{
  "extends": [
    "stylelint-config-standard",
  ],
  "rules": {
    "alpha-value-notation": null,
    "color-function-alias-notation": null,
    "color-function-notation": null,
    "comment-empty-line-before": "never",
    "declaration-block-no-redundant-longhand-properties": null,
    "function-url-quotes": null,
    "media-feature-range-notation": null,
    "no-descending-specificity": null,
    "selector-attribute-quotes": null
  },
}
